@import '../../styles/variables.scss';


.cont_upper {
  display: grid;
  gap: 24px;
  grid-template-columns: auto auto;

  .media {
    max-width: 70vh;
    border-radius: 8px;
    z-index: 1;
  }


}

a {
  color: #fff;
}

.cont_description {
  max-width: 50%;
}
