@import '../../styles/variables.scss';


.cont_upper {
  display: grid;
  gap: 24px;
  grid-template-columns: auto auto;

  video {
    max-width: 70vh;
    border-radius: 8px;
    z-index: 1;
  }


}

.cont_description {
  max-width: 50%;
}
