// Typeface
$font_light: "MotivaSansLight";
$font_medium: "MotivaSansLight";
$font_bold: "MotivaSansLight";


// Colors
$light_transparent: hsla(0, 0%, 100%, 0.158);
$light_bright: hsla(0, 0%, 100%, 0.755);
$bg_main: #1b1c1d;


