body {
    //font: 100% system-ui, sans-serif;
    margin: 0;
}

.banner {
    width: 100%;
    height: 80px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 20px;
}

.hero_text {
    color: white;
    padding: 20px;
    margin-left: 110px;
    font-family: "MotivaSansMedium";

    h1 {
        font-size: 60px;

    }

    h2 {
        font-size: 35px;
    }

    p {
        font-size: larger;
    }
}

.art_type {
    background: -webkit-linear-gradient(0deg, rgba(27, 222, 206, 1) 38%, rgba(204, 217, 28, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.code_type {
    background: -webkit-linear-gradient(0deg, rgb(2, 105, 190) 38%, rgb(24, 144, 148) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_img {
    color: white;
    margin-right: 110px;
    width: 40%;
    height: 80%;


    img {
        /* or any custom size */
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

}